@using LensLooker.Data.Models
<label>
    Lens
    <select class="form-select form-select-sm" @bind="LensId">
        <optgroup label="Everything">
            <option value="">All</option>
        </optgroup>
        @if (LensGroups != null)
        {
            @foreach (var group in LensGroups)
            {
                <optgroup label="@group.Key">
                    @foreach (var lens in group)
                    {
                        <option value="@lens.Id">@lens.Photos.Count.ToString("N0") &bull; @lens.Name</option>
                    }
                </optgroup>
            }
        }
    </select>
</label>

@code {

    [Parameter]
    [EditorRequired]
    public IEnumerable<IGrouping<string, Lens>>? LensGroups { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<int?> OnLensChange { get; set; }

    [Parameter]
    [EditorRequired]
    public int? LensId
    {
        get => _lensId;
        set
        {
            if (_lensId == value) return;
            _lensId = value;
            if (OnLensChange.HasDelegate)
                OnLensChange.InvokeAsync(value);
        }
    }

    private int? _lensId;
}